
        #grid { 
            
            display: grid;
            grid-template-columns: 150px 1fr;
    
        }
        a {
            color : black; 
            
        }
        h1 {
            font-size: 45px; 
            text-align: center;
            border-bottom: 1px solid black;
            text-decoration: none;
            margin :0; 
        } 
        #active{
            color:red; 
        } 
         ol{
            border-right : 1px solid black ;
            height:100%;
            margin:0;
            padding-left:50px;
            padding-top:10px;

        }
        #article { 
            padding-left : 25px; 
        }
        @media (max-width:800px)
        {
            #grid { 
            display: block;
            }
            ol {
                border-right : none; 
            }
            h1 {
                border-bottom : none ; 
                
            }
        }
 